<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Les articles</title>
</head>
<body>
<h1>Voici la liste des articles</h1>
<p>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>TITRE</th>
    <th>DATE_HEURE</th>
    <th>TEXTE</th>
    <th>AUTEUR</th>
    <th>URL</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="contenu: ${listContenu}">
    <td th:text="${contenu.id}"></td>
    <td th:text="${contenu.titre}"></td>
    <td th:text="${contenu.dateHeure}"></td>
    <td th:text="${contenu.texte}"></td>
    <td th:text="${contenu.auteur}"></td>
    <td th:text="${contenu.url}"></td>
  </tr>
  </tbody>
</table>
</p>
</body>
</html>
