<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Les articles</title>
</head>
<body>
<h1>Voici la liste des articles</h1>
<p>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>TITRE</th>
    <th>URL</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="article: ${listArticles}">
    <td th:text="${article.id}"></td>
    <td th:text="${article.titre}"></td>
    <td th:text="${article.url}"></td>
  </tr>
  </tbody>
</table>
</p>
</body>
</html>
